<body background="assets/bk7.jpg" style="background-size: cover">
<table class="table class bordered table-hover">

  <thead>  
  <tr>  
  <th>FOOD ID</th>  
  <th>FOOD NAME</th>  
  <th>FOOD IMAGE</th>
  

  <th>FOOD DESCRIPTION</th>  
  <th>FOOD PRICE</th>    
  <th>FOOD CATEGORY</th>  
  </tr>  
  </thead>  
  <tbody>  
  <tr *ngFor='let menu of menus'>  
  <td>{{menu.foodId}}</td>
  <td>{{menu.foodName}}</td>    
  <td><img src='assets\{{menu.foodId}}.jpg' alt="FoodImages"width="50" height="30"></td>
  
  <td>{{menu.foodCategory}}</td>  
  <td>{{menu.foodPrice}}</td>  
  <td>{{menu.foodDescription}}</td>  
  </tr>  
  <tr *ngIf="!menus || menus.length==0">  
  <td colspan="6">  
  No menus to display  
  </td>  
  </tr>  
  </tbody>  
  </table><br>
  <div style="text-align:center">
      <button routerLink="/venlogin"> Vendor Login</button>&nbsp;&nbsp;
    <button routerLink="/custlogin"> Customer Login</button>
 
  </div>

</body>
